<div class="d-flex align-items-center">

    <div class="flex-grow-1 ms-3">
      <img src="./assets/imag/img-proyect/front-end.png" alt="..." width="100px">
      <img src="./assets/imag/img-proyect/backend.png" alt="..." width="100px">
      <h2>Proyecto </h2> -
      <h3>Portfolio</h3>
      <p>creación de repositorio para el front-end del portfolio actual, 
        cumpliendo con la utilizacion de los lenguaes y frameworks pedidos en el programa.
        ...
        creación del repositorio para el back-end del portfolio actual,
        utilizando todos las herramientas y programas requeridos para la conexion y puesta 
        en funcionamiennto la bbdd.
      </p>
      <p> <a href="https://github.com/k-ro84/Portfolio-FrontEnd" class="link-dark" >repositorio</a></p>
      <p> <a href="https://github.com/k-ro84/Portfolio-BackEnd" class="link-dark">repositorio</a></p>
     
      <img src="./assets/imag/img-proyect/task-list.png" alt="..." width="100px">
      <h2>Proyecto </h2> -
      <h3>Task-List</h3>
      <p>conexión al repositorio creado en base al video perteneciente al modulo 3 de
        #yoProgramo. el mismo es un formulario que contiene una lista de tareas,
        con distintas funciones.
        respecto de la idea original del video, realize unos pequeños cambios.
      </p>
      <p> <a href="https://github.com/k-ro84/List-Task" class="link-dark">repositorio</a></p>
  
      <img src="./assets/imag/img-proyect/shop-icon.jpg" alt="..." width="100px">
      <h2>Proyecto </h2> -
      <h3> Venta de Productos</h3>
      <p>pequeño trabajo del año 2021 en html y Css realizado en un curso previo. 
        el mismo contiene un trabajo de manejo de card, form y uso de nav-bar.
      </p>
      <p> <a href="https://github.com/k-ro84/HTML/tree/main/ejerc17" class="link-dark">repositorio</a></p>
  
  
      <a href="#" class="fa fa-pen-fancy">editar</a>
  
      <div class="mb-3">
        <label for="formFile" class="form-label">proyectos nuevos a subir</label>
        <input class="form-control" type="file" id="formFile">
      </div>
  
    </div>
  
    <div class="flex-shrink-0">
      <img src="../assets/imag/img-proyect/proyectos.jpg" alt="..." width="250px">
      <h1>Proyectos</h1>
    </div>
  
  </div>
