
<div class="d-flex align-items-center">

    <div >
      <button class="btn btn-danger btn-floating float-end" type="button" *ngIf="isAdmin" routerLink="/newproyecto">agregar proyectos</button>
    </div>
<div *ngFor="let Proyectos of proyectos">  
    <div class="flex-shrink-0">
 
      <h1>Proyectos</h1>
     
    </div>

    <ul>
     <!-- <img src="" alt="..." width="100px"> -->
      <li>
        <h3>{{Proyectos.tituloProyecto}}</h3>
      </li>
      <p>{{Proyectos.descripcion}}</p>

      <p> {{Proyectos.url}}</p>

    </ul>

   
    <div>
      <button class="btn btn-floating float-end"  *ngIf="isAdmin == true" routerLink="/editproyectos/{{Proyectos.id}}">edit </button>
   </div>
   <div >
      <button class="btn btn-floating float-end"  *ngIf="isAdmin == true" (click)="delete(Proyectos.id)">delete </button>
   </div>
      
     <ul class="list-group"><p> Plataformas/páginas utilizadas y/o visitadas <br> en la elaboración de los proyectos : <br></p>
      <li>
        <a href=" https://es.stackoverflow.com">
          <img src="../assets/imag/img-proyect/stackoverflow.png" alt="" class="link2"></a>
         
          <a href="https://getbootstrap.com/">
            <img src="../assets/imag/img-proyect/bootstrapLogo.png" alt="" class="link2"></a>
          
            <a href="https://angular.io/">
        <img src="../assets/imag/img-proyect/Angular-js.jpg" alt="" class="link2"></a>
      
        <a href="https://www.lucidchart.com/pages/es">
          <img src="../assets/imag/img-proyect/lucidchart.png" alt="" class="link2"></a>
     
        <a href="https://start.spring.io/">
          <img src="../assets/imag/img-proyect/Spring_boot.png" alt="" class="link2"></a>
      </li>

     </ul>
    
    </div> 
  
</div>

