<hr class="border border-primary border-3 opacity-75">
<div class="container-fluid">
  <div class="grid text-center" >
   <div>
      <img src="../assets/imag/Whatsapp.jpg" alt="" class="link3">
      <h5>263-4955712</h5>
    </div>
    <div>
      <img src="../assets/imag/Correo.jpg" alt="" class="link3">
      <h5>carolinaolguin1984@yahoo.com.ar</h5>
    </div>
    <div>
      <img src="../assets/imag/Telegram.png" alt="" class="link3">
      <h5>t.me/Carolina_Olguin</h5>
    </div>
  </div>
  <h2> Copyright Reservado © Autor principal Carolina Olguín - 2022</h2>
  
  <h6>
    <span class="placeholder col-10 bg-warning">
      Lo peor de la ignorancia, es que.. a medida que se prolonga, adquiere confianza. Autor anónimo
    </span>
  </h6>
     <div class="d-grid gap-2">
      <button class="btnn" onclick="window.print()">-- Descargar Portfolio --</button>
     </div>
</div>