
<hr>
<div class="row">
  <div class="container">

  <a href="https://es.stackoverflow.com">
    <img src="../assets/imag/stackoverflow.png" alt="" class="link2"></a>
  <a href="https://getbootstrap.com/">
    <img src="../assets/imag/bootstrapLogo.png" alt="" class="link2"></a>
  <a href="https://https://angular.io/">
      <img src="../assets/imag/Angular-js.jpg" alt="" class="link2"></a>

  </div>
  <h2> copyright reservado © Autor principal 2022</h2>
  <h6>
    <span class="placeholder col-12 bg-warning">Lo peor de la ignorancia..es que.. a medida que se prolonga, adquiere
      confianza. Autor anónimo</span>
  </h6>
</div>
