
h3{
    text-align:left;
    font-family: 'Courier New', Courier, monospace;
    color: darkgray;
}

.row{
    background: scroll;
    background-color: cornflowerblue;
}

.container{
    margin-left: 10px;
    align-items: center;
    justify-content: space-between;
    display: flex;
   
}

.logo{
    width: 150px;
}

.links{
  float: right;
   margin-right: 0.5em;
}

.link{
    width: 50px;
    margin-right: 10px;
    border-radius: 10px;

}

.vr{
    color: black;
}

#boton:hover{
    cursor:pointer
}

