<div class="row ">

  <div class="container">

    <div class="">
      <a href="https://argentinaprograma.inti.gob.ar">
        <img src="../assets/imag/logoArgProg.png" alt="argpprod" class="logo ">
      </a>

      <a href="https://argentinaprograma.inti.gob.ar">
        <img src="../assets/imag/LogosInti.png" alt="argpprod" class="logo ">
      </a>
    </div>

    
    <div class="links">
      <a class="btn btn-primary" style="background-color: #333333;" href="https://github.com" role="button"
      ><i class="fab fa-github"></i
    ></a>
      <a href="https://github.com">
        <img src="../assets/imag/GITHUB-LOGO.png" alt="" class="link"></a>
      <a href="https://facebook.com">
        <img src="../assets/imag/facebook.png" alt="" class="link"></a>
      <a href="https://discord.com">
        <img src="../assets/imag/discord.jpg.jpg" alt="" class="link"></a>
      <a href="https://linkedin.com">
        <img src="../assets/imag/linkedinLogo.png" alt="" class="link"></a>

       
        <button type="button" class="btn btn-outline-danger" ><a routerLink="/login">Registro</a> </button>
       
       
    </div>

  </div>


</div>
<app-banner></app-banner>
