
<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <div class="argp">
      <a href="https://argentinaprograma.inti.gob.ar">
        <img src="../assets/imag/logoArgProg.png" alt="argpprod" class="logo ">
      </a>

      <a href="https://argentinaprograma.inti.gob.ar">
        <img src="../assets/imag/LogosInti.png" alt="argpprod" class="logo ">
      </a>
     
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Acceso rápido
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="/acercaDe"> acerca de mi</a></li>
                  <li><a class="dropdown-item" href="/estudios"> estudios</a></li>
                  <li><a class="dropdown-item" href="/historial"> experiencias</a></li>
                  <li><a class="dropdown-item" href="/proyectos"> proyectos</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/e404" >acá no</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      
        <div class="links">
     
          <a href="https://github.com/k-ro84">
            <img src="../assets/imag/GITHUB-LOGO.png" alt="" class="link"></a>
          <a href="https://www.facebook.com/krito.olguin">
            <img src="../assets/imag/facebook.png" alt="" class="link"></a>
          <a href="https://discord.gg/invite/k-rito#7164">
            <img src="../assets/imag/discord.jpg.jpg" alt="" class="link"></a>
          <a href="https://www.linkedin.com/in/carolina-olguin-/">
            <img src="../assets/imag/linkedinLogo.png" alt="" class="link"></a>
           
         <button type="button" class="btn btn-outline-danger" id="boton"><a routerLink="/login">Registro</a> </button>
   
    </div>
  </div>
</nav>

