<div class="d-flex align-items-center" >

    <div class="flex-grow-1 ms-3">
      <img src="./assets/imag/img-educ/arboit.jpg " alt="..." width="100px">
      <h2>Tecn.Quimico Industrial.Escuela 4-016 Ing.Antonio Marcelo Arboit</h2> -

      <h3> 1997-2002</h3>

      <button type="button" class="btn btn-danger btn-floating">
        <i class="fas fa-tools">{{edicion}}</i>
    </button> 
    <button type="button" class="btn btn-danger btn-floating">
        <i class="fas fa-toilet">{{borrar}}</i>
    </button> 

      <p>Secundario completo
      </p>
     
      
      <img src="./assets/imag/img-educ/uncuyo.jpg " alt="..." width="100px">
      <h2>Lic en Sociología.Facultad de Cs.Politicas y Sociales.UnCuyo</h2> -
      <h3>2004-2014</h3>

      <button type="button" class="btn btn-danger btn-floating">
        <i class="fas fa-tools">{{edicion}}</i>
    </button> 
    <button type="button" class="btn btn-danger btn-floating">
        <i class="fas fa-toilet">{{borrar}}</i>
    </button> 
  
      <p>Estudios no finalizados, cursado hasta 5 año en Licenciatura en Sociología- 
        Facultad de Ciencias Politicas y Sociales Universidad Nacional de Cuyo.
      </p>
     
      <img src="./assets/imag/img-educ/inst n.Am.jpg " alt="..." width="100px">
      <h2>Instituto Nueva América</h2> -
      <h3>2016-2017</h3>

      <button type="button" class="btn btn-danger btn-floating">
        <i class="fas fa-tools">{{edicion}}</i>
    </button> 
    <button type="button" class="btn btn-danger btn-floating">
        <i class="fas fa-toilet">{{borrar}}</i>
    </button> 

      <p>Gestoría Integral. Instituto Nueva América. 
        Curso en gestoría judicial, notarial, aduanera, inmobiliaria, impositiva y tramites del automotor. 
        Curso en introducción al derecho.
      </p>
      
  
      <img src="./assets/imag/img-educ/egg educacion.jpg " alt="..." width="100px">
      <h2>Curso online- Egg Educación</h2> -
      <h3>2021</h3>

      <button type="button" class="btn btn-danger btn-floating">
        <i class="fas fa-tools">{{edicion}}</i>
    </button> 
    <button type="button" class="btn btn-danger btn-floating">
        <i class="fas fa-toilet">{{borrar}}</i>
    </button> 

      <p>Programación web. Curso online dictado por Egg (compañía de ciencia y tecnología). 
        Manejo de programa Pseint. Estudios finalizados en programación web full stack.
      </p>
     


      <img src="./assets/imag/img-educ/logoArgProg.png " alt="..." width="100px">
      <h2>Curso on-line Argentina Programa</h2> -
      <h3>Actualidad</h3>

      <button type="button" class="btn btn-danger btn-floating">
        <i class="fas fa-tools">{{edicion}}</i>
    </button> 
    <button type="button" class="btn btn-danger btn-floating">
        <i class="fas fa-toilet">{{borrar}}</i>
    </button> 
  
      <p>Programación Web. Curso primera etapa del Plan Argentina Programa, "#SéProgramar " 
        avalado por el Ministerio de Desarrollo Productivo y la Cámara de la Industria Argentina de Software (CESSI). 
        Estudios finalizados de manera virtual. cursando la segunda etapa #YoProgramo.
      </p>
  
     
    </div>
  
    <div class="flex-shrink-0">
      <img src=" ../assets/imag/img-educ/educacion.jpg"alt="..." width="250px">
       <h1>Estudios</h1>
       
    </div>
  
  </div>
  
  <br>
