<div class="d-flex align-items-center">
  <div class="flex-grow-1 ms-3">
    <div class="card-group" >
      <div class="flex-shrink-0">
            <h1>Estudios</h1>
          </div>
            <!--
              <div >
                  <td ><button class="btn btn-danger btn-floating float-end" 
                    type="button" routerLink="/newestudios">agregar estudio/carrera</button>
                    </td>
              </div>
             -->
      <div >
        <td *ngIf="isAdmin"><button class="btn btn-danger btn-floating float-end" type="button" routerLink="/newestudios">agregar estudio/carrera</button></td>
      </div>
  <div *ngFor="let Estudios of estudios">  
   

    <h1><img src="Estudios.imagEstud" alt="..." width="100px" class="rounded-circle w-25 imagEstud"></h1>
    <ul>
      <li>
        <h2>{{Estudios.institucion}} - </h2>
        <h3>{{Estudios.periodo}}</h3>
        
      </li>

      <p>{{Estudios.detalles}}
      </p>
      <p>{{Estudios.estado}}
      </p>
      <h3>{{Estudios.tituloEduc}}</h3>
      
    </ul>

    <img src="Estudios.imagEstud" alt="..." width="100px">

    
    <div>
      <td *ngIf="isAdmin"> <button class="btn btn-floating float-end"routerLink="/editEstudios/{{Estudios.id}}" >edit </button></td>
   </div>
   <div >
    <td *ngIf="isAdmin"> <button class="btn btn-floating float-end" (click)="delete(Estudios.id)">delete </button></td>
   </div>
   
  
  </div>

</div>



