<div class="d-flex align-items-center" >

    <div class="flex-grow-1 ms-3">
      <img src="./assets/imag/img-educ/arboit.jpg " alt="..." width="100px">
      <h2>Tecn.Quimico Industrial.Escuela 4-016 Ing.Antonio Marcelo Arboit</h2> -
      <h3> 2002</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Laudantium quia dignissimos repudiandae magnam, quidem, fugiat iure,
        excepturi iusto ratione quas sequi?
        Necessitatibus debitis unde sapiente nobis illo similique dolore voluptates?
      </p>
  
      <img src="./assets/imag/img-educ/uncuyo.jpg " alt="..." width="100px">
      <h2>Lic en Sociología.Facultad de Cs.Politicas y Sociales.UnCuyo</h2> -
      <h3>2004-2012</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Laudantium quia dignissimos repudiandae magnam, quidem, fugiat iure,
        excepturi iusto ratione quas sequi?
        Necessitatibus debitis unde sapiente nobis illo similique dolore voluptates?
      </p>
  
      <img src="./assets/imag/img-educ/inst n.Am.jpg " alt="..." width="100px">
      <h2>Instituto Nueva América</h2> -
      <h3>2016-2017</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Laudantium quia dignissimos repudiandae magnam, quidem, fugiat iure,
        excepturi iusto ratione quas sequi?
        Necessitatibus debitis unde sapiente nobis illo similique dolore voluptates?
      </p>
  
      <img src="./assets/imag/img-educ/egg educacion.jpg " alt="..." width="100px">
      <h2>Curso online- Egg Educación</h2> -
      <h3>2021</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Laudantium quia dignissimos repudiandae magnam, quidem, fugiat iure,
        excepturi iusto ratione quas sequi?
        Necessitatibus debitis unde sapiente nobis illo similique dolore voluptates?
      </p>
  
      <img src="./assets/imag/img-educ/logoArgProg.png " alt="..." width="100px">
      <h2>Curso on-line Argentina Programa</h2> -
      <h3>Actualidad</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Laudantium quia dignissimos repudiandae magnam, quidem, fugiat iure,
        excepturi iusto ratione quas sequi?
        Necessitatibus debitis unde sapiente nobis illo similique dolore voluptates?
      </p>
  
      <a href="#" class="fa fa-pen-fancy">editar</a>
  
    </div>
  
    <div class="flex-shrink-0">
      <img src=" ../assets/imag/img-educ/educacion.jpg"alt="..." width="250px">
       <h1>Estudios</h1>
    </div>
  
  </div>
  
  <br>
