<div class="container-fluid">
    <div class="card mat-card" id="first card">

        <section class="fondo">
            <h2 class=" text-center intro"> Hola,soy Carolina </h2>
            <h3 class=" text-center intro"> bienvenida/o a mi <br> Portfolio Web</h3>
        </section>

    </div>

    <div class="container-fluid">
        <div class="card-group" >
            <div >
              <button class="btn btn-danger btn-floating float-end" type="button" *ngIf="isAdmin" routerLink="/newacerca">agregar persona</button>
            </div>
        <div *ngFor="let AcercaDe of acercaDe">  

            <div class="card" style="  border-color: transparent;">
                <div class="flex-grow-1 ms-3">
                    <img class="foto1" src="AcercaDe.imgUser" alt="..."> 
                    
                </div>

                <div class="card-body">
                    <div class="yo">
                        <h3>{{AcercaDe.nombre}}</h3>
                        <h3>{{AcercaDe.apellido}}</h3>
                        <h4>{{AcercaDe.direccion}}</h4>
                    </div>
                </div>
            </div>

                  <div class="card"  style="border-color: transparent;">
                     <div class="card-body">
                          <div class="datos1">
                             <h1 class="display-5">{{title}}</h1>
                          </div>
                          <div>
                              <p id="text-acercade">{{AcercaDe.descripcion}}</p>
                           </div>
                          
                     </div> 
                     <div>
                        <button class="btn btn-light" *ngIf="isAdmin == true"  routerLink="/editAcercaDe/{{AcercaDe.id}}" >edit </button>
                       </div>
                       <div >
                          <button class="btn float-end"  *ngIf="isAdmin == true" (click)="delete(AcercaDe.id)">delete </button>
                       </div>
                 </div>
           

        </div>

    <!-- <div id="info-actions">
            <button type="button" class="btn btn-warning"> <a href="">Tengo interés en </a> </button>
            <button type="button" class="btn btn-success"> <a href="">Más </a></button>
        </div>-->
    </div>

</div>

<br>