<div class="d-flex align-items-center">

    <div class="flex-shrink-0">
      <img src="../assets/imag/experiencia.jpg" alt="..." width="250px" >
      <h1>Experiencia</h1>
    </div>
    <div class="flex-grow-1 ms-3">
      <h2>Gestora  - </h2> 
      <h3>2017/2021</h3>
      <p>Gestora de trámites automotores (independiente).Redacción y emisión de documentos. 
        Gestión y resolución de dudas habituales asociadas con la compra o venta de vehículos.
      </p>
  
      <h2>Secretaria  - </h2> 
      <h3>2015/2016</h3>
      <p>Inscripción y manejo de caja. 
        Primer Mega Torneo de Fútbol 8 a beneficio de la Fundación Dr. Humberto Notti. 
      </p>
  
      <h2>Encuestadora  - </h2> 
      <h3>2012</h3>
      <p>
        Consultora Delfos. Encuestas de opinión pública e investigación de mercado .
      </p>
  
      <h2>Encuestadora  - </h2> 
      <h3>2011/2012</h3>
      <p> Consultora OPSM S.A. 
        Encuesta Nacional de Protección y Seguridad Social (ENAPROSS). 
        Llevada a cabo por el Ministerio de Trabajo, Empleo y Protección Social. 
        Presidencia de la Nación. 
        Llevó a cabo entrevistas domiciliarias a lo largo de toda la Provincia de Mendoza.
      </p>

      <h2>Encuestadora  - </h2> 
      <h3>2010</h3>
      <p>
        Programa Familia por la inclusión Social. 
        A cargo de la Secretaria de Extension Universitaria U.N.Cuyo. 
        Para el Ministerio de Desarrollo Social de la Nación.
      </p>
  
      <h2>Encuestadora  - </h2> 
      <h3>2010</h3>
      <p>Secretaria de Extensión Universitaria U.N.Cuyo.
        Proyecto de investigación a cargo de la 
        Facultad de Ciencias Políticas y Sociales de la U.N.Cuyo.
        
      </p>
  

  
      <a href="#" class="fa fa-pen-fancy">editar</a>
  
    </div>
  
  </div>
  
   
    <br>