<div class="d-flex align-items-center">

    <div class="flex-shrink-0">
      <img src="../assets/imag/experiencia.jpg" alt="..." width="250px" >
      <h1>Experiencia</h1>
    </div>
    <div class="flex-grow-1 ms-3">
      <h2>lugar 1</h2> -
      <h3>años</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Laudantium quia dignissimos repudiandae magnam, quidem, fugiat iure,
        excepturi iusto ratione quas sequi?
        Necessitatibus debitis unde sapiente nobis illo similique dolore voluptates?
      </p>
  
      <h2>lugar 2</h2> -
      <h3>años</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Laudantium quia dignissimos repudiandae magnam, quidem, fugiat iure,
        excepturi iusto ratione quas sequi?
        Necessitatibus debitis unde sapiente nobis illo similique dolore voluptates?
      </p>
  
      <h2>lugar 3</h2> -
      <h3>años</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Laudantium quia dignissimos repudiandae magnam, quidem, fugiat iure,
        excepturi iusto ratione quas sequi?
        Necessitatibus debitis unde sapiente nobis illo similique dolore voluptates?
      </p>
  
      <h2>lugar 4</h2> -
      <h3>años</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Laudantium quia dignissimos repudiandae magnam, quidem, fugiat iure,
        excepturi iusto ratione quas sequi?
        Necessitatibus debitis unde sapiente nobis illo similique dolore voluptates?
      </p>
  
      <a href="#" class="fa fa-pen-fancy">editar</a>
  
    </div>
  
  </div>
  
   
    <br>