
<div class="d-flex align-items-center">

  <div class="flex-shrink-0">
    <img src="../assets/imag/experiencia.jpg" alt="..." width="250px">
    <h1>
      Experiencia</h1>
  </div>
  <div class="flex-grow-1 ms-3">
    <ul>
      <li>
        <h2>Gestora - </h2>
        <h3>2017/2021</h3>
      </li>
      <p>Gestora de trámites automotores (independiente).Redacción y emisión de documentos.
        Gestión y resolución de dudas habituales asociadas con la compra o venta de vehículos.
      </p>
    </ul>

    <ul>
      <li>
        <h2>Secretaria - </h2>
        <h3>2015/2016</h3>
      </li>
      <p>Inscripción y manejo de caja.
        Primer Mega Torneo de Fútbol 8 a beneficio de la Fundación Dr. Humberto Notti.
      </p>
    </ul>

    <ul>
      <li>
        <h2>Encuestadora - </h2>
        <h3>2012</h3>
      </li>
      <p>
        Consultora Delfos. Encuestas de opinión pública e investigación de mercado .
      </p>
    </ul>

    <ul>
      <li>
        <h2>Encuestadora - </h2>
        <h3>2011/2012</h3>
      </li>
      <p> Consultora OPSM S.A.
        Encuesta Nacional de Protección y Seguridad Social (ENAPROSS).
        Llevada a cabo por el Ministerio de Trabajo, Empleo y Protección Social.
        Presidencia de la Nación.
        Llevó a cabo entrevistas domiciliarias a lo largo de toda la Provincia de Mendoza.
      </p>
    </ul>
   
    <ul>
      <li>
        <h2 >Encuestadora - </h2>
        <h3>2010</h3>
      </li>
    
      <p>
        Programa Familia por la inclusión Social.
        A cargo de la Secretaria de Extension Universitaria U.N.Cuyo.
        Para el Ministerio de Desarrollo Social de la Nación.
      </p>

      <p> Proyecto de investigación.
        Secretaria de Extensión Universitaria U.N.Cuyo.
        A cargo de la
        Facultad de Ciencias Políticas y Sociales de la U.N.Cuyo.
      </p>
    </ul>

  </div>
 
</div>
<br>
