
<section class="container mt-5">
  <form #form="ngForm" (ngSubmit)="onEnviar($event)" novalidate class="container2">
     <div>
      <h1>{{title}}</h1>    
     </div> 

  <div class="form-outline mb-4">
     <input type="email" id="email" formControlName="email" class="form-control"  [(ngModel)]="email" required />
     <label for="email">Email Address </label>     
</div>
<!-- Gracias al getter que configuramos en el controlador 
<div *ngIf="Email?.errors  && Email?.touched">    
    <p *ngIf="Email?.hasError('required')" 
    class="error"  class="alert alert-danger">
        El email es requerido.
    </p>
    <p *ngIf="Email?.hasError('email')" class="error" class="alert alert-danger" >
        El formato del email debe ser válido.
      </p>
   <p *ngIf="Email?.errors?.['minlength'] or['maxlength']
      "  class="alert alert-danger" >
       El email debe ser de entre 5 y 20  caracteres.
    </p>
</div>-->
<br/>
  <div class="form-outline mb-4">
     <input type="password" id="exampleInputPassword1" formControlName="password"  class="form-control" [(ngModel)]="password" required />
     <label for="exampleInputPassword1" class="form-label">Password </label>
    </div>
  <!-- Gracias al getter que configuramos en el controlador 
  <div *ngIf="Password?.errors  && Password?.touched">
      <p *ngIf="password?.hasError('required')"  class="alert alert-danger">
          El password es requerido.
      </p>
      <p *ngIf="Password?.errors?.['minlength'] or['maxlength'] " 
       class="alert alert-danger">
         El password debe ser de 8 o más caracteres.
      </p>
    </div>-->


    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
          <label class="form-check-label" for="form1Example3"> Remember me </label>
        </div>
      </div>
   
      <div class="col">
        <!-- Simple link -->
        <a href="#">Forgot password?</a>
      </div>
    </div>

      <br/>
      <div>
        <button type="submit" class="btn btn-primary btn-block btn-rounded" routerLink="/home/" >Sign in</button>
 
      </div>


      <div>
        <p class="mb-0">¿No tienes una cuenta? <a href="#!" class="text-white-50 fw-bold">Sign Up</a>
        </p>
      </div>


      <div class="card-footer">
        <button class="btn btn-outline-primary btn-block" (click)="volver()"><i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
      </div>
    <!-- <div>
        <button type="submit" class="btn btn-warning btn-block " class="fas fa-home">
          <a routerLink="/home/"> Go Back </a>
        </button>
      </div>--> 
  </form>
</section>
  <br>
  