
<form [formGroup]="form"  (ngSubmit)="onEnviar($event)" class="container2">  

     <div>
      <h1>{{title}}</h1>
     </div> 
  <div class="form-outline mb-4">
     <input type="email" id="email" formControlName="email"  class="form-control">
     <label for="email">Email Address </label>     
</div>
<!-- Gracias al getter que configuramos en el controlador -->
<div *ngIf="Email?.errors  && Email?.touched">    
    <p *ngIf="Email?.hasError('required')" 
    class="error"  class="alert alert-danger">
        El email es requerido.
    </p>
    <p *ngIf="Email?.hasError('email')" class="error" class="alert alert-danger" >
        El formato del email debe ser válido.
      </p>
   <p *ngIf="Email?.errors?.['minlength'] or['maxlength']
      " class="error" class="alert alert-danger" >
       El email debe ser de entre 5 y 15  caracteres.
    </p>
</div>
<br/>
  <div class="form-outline mb-4">
     <input type="password" id="exampleInputPassword1" formControlName="password" [class.border-danger]="EmailValid"  class="form-control">
     <label for="exampleInputPassword1" class="form-label">Password </label>
    </div>
  <!-- Gracias al getter que configuramos en el controlador -->
  <div *ngIf="Password?.errors  && Password?.touched">
      <p *ngIf="Password?.hasError('required')" class="error"  class="alert alert-danger">
          El password es requerido.
      </p>
      <p *ngIf="Password?.errors?.['minlength'] or['maxlength']
        " class="error"  class="alert alert-danger">
         El password debe ser de 8 o más caracteres.
      </p>
    </div>

    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
          <label class="form-check-label" for="form1Example3"> Remember me </label>
        </div>
      </div>
  
      <div class="col">
        <!-- Simple link -->
        <a href="#!">Forgot password?</a>
      </div>
    </div>

      <br/>
      <div>
        <button type="submit" class="btn btn-primary btn-block btn-rounded">Sign in</button>
      </div>

      <div>
        <button type="submit" class="btn btn-warning btn-block " class="fas fa-home">
          <a routerLink="/"> Go Back </a>
        </button>
      </div>
  </form>
  
  <br>
  

  <!-- <div  class="container2">
 
  <form>
     <div>
      <h1>{{title}}</h1>
     </div> 

     
    <div class="form-outline mb-4">
      <input type="email" id="form1Example1" class="form-control" />
      <label class="form-label" for="form1Example1">Email address</label>
    </div>
  
    
    <div class="form-outline mb-4">
      <input type="password" id="form1Example2" class="form-control" />
      <label class="form-label" for="form1Example2">Password</label>
    </div>
  
     2 column grid layout for inline styling : esta linea debe ocultarse si se usa
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
         Checkbox : esta linea debe ocultarse si se usa
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
          <label class="form-check-label" for="form1Example3"> Remember me </label>
        </div>
      </div>
  
      <div class="col">
         Simple link : esta linea debe ocultarse si se usa
        <a href="#!">Forgot password?</a>
      </div>
    </div>
  
     Submit button : esta linea debe ocultarse si se usa
    <button type="submit" class="btn btn-primary btn-block btn-rounded">Sign in</button>
     
     <div>
    <button type="submit" class="btn btn-success btn-block btn-rounded" ><a routerLink="/"> Go Back </a></button>
  </div>

  </form>
  
</div>-->