<div>
   <form >


    <div>
        <div>

            <div>
                Correo:
                <input placeholder="Ingrese su e-mail" type="text" [(ngModel)]="correo">
                  <div 
                   id="emailHelp" class="form-text">We'll never share your email with anyone else.
                  </div>
            </div>
            <br />

            <div>
                Pasword:
                <input placeholder="Ingrese su contraseña" type="text" [(ngModel)]="password"
                 type="password" id="exampleInputPassword1">
                <span id="passwordHelpInline" class="form-text">
                    Must be 8-20 characters long.
                  </span>
                  <div class="vr"></div>
                  <button type="button" class="btn btn-outline-secondary">Reset</button>
            </div>
            <br />

        </div>
        <br />

        <button type="submit" class="btn btn-success" >Submit</button>
        
    </div>

    <a routerLink="/"> Go Back </a>
</form>
</div>