<div class="container">
    <div class="row">
      <div>
        <h2>{{title}} </h2>
        <p>{{subtitle}}</p>
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm" >
         
              <div class="form-group">   
                <label class="col-md-2 control-label" for="tecnologia">tecnologia </label>
                <input type="text" class="form-control" id="tecnologia" name="tecnologia" [(ngModel)]="tecnologia" required> 
              </div>

              <div class="form-group">   
                <label class="col-md-2 control-label" for="porcentaje">porcentaje </label>
                <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje" required> 
              </div>


              <div>
                <button class="submit" id="newsdates">
                nueva habilidad
              </button>
              </div>
        </form>
  
      </div>
    </div>
</div>
  
