<div class="hys">
  
  <div class="row" >

    
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <img src="../assets/imag/habilidades.jpg" alt="..." width="250px">
    <h1>    Hard & </h1>
    <h1>Soft Skills</h1>
  </div>

  <!-- hard skills-->
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >

    <h2>Skills  - </h2> 
    <h3>HTML</h3>
    <p>nivel de H.S.actual:
      <circle-progress 
      [percent]="85" 
      [radius]="100" 
      [showTitle]="false"
      [showUnits]="false"
     
      [outerStrokeWidth]="16" 
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#FDB900'" 
      outerStrokeGradientStopColor="''" 
      [innerStrokeColor]="'#c87c6f'"
      [subtitle]="'HTML'"
      [subtitleColor]="'#033E3E'"
      [subtitleFontSize]="'14'"
      [animation]="true">
    </circle-progress>
    </p>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <h2>Skills  - </h2> 
    <h3>CSS</h3>
    <p>nivel de H.S.actual:
      <circle-progress 
      [percent]="76" 
      [radius]="100" 
      [showTitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="16" 
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#FF6347'" 
      outerStrokeGradientStopColor="'#bd5947'" 
      [innerStrokeColor]="'#d92202'"
      [subtitle]="'CSS'"
      [subtitleColor]="'#033E3E'"
      [subtitleFontSize]="'14'"
      [animation]="true">
    </circle-progress>
    </p>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <h2>Skills  - </h2> 
    <h3>Typescript</h3>
    <p>nivel de H.S.actual:
      <circle-progress 
      [percent]="20" 
      [radius]="100" 
      [showTitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="16" 
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#7bf9cf'" 
      outerStrokeGradientStopColor="''" 
      [innerStrokeColor]="'#C7E596'"
      [subtitle]="'TYPESCRIPT'"
      [subtitleColor]="'#033E3E'"
      [subtitleFontSize]="'14'"
      [animation]="true">
    </circle-progress>
    </p>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <h2>Skills</h2> -
    <h3>Java</h3>
    <p>nivel de H.S.actual:
      <circle-progress 
      [percent]="65" 
      [radius]="100" 
      [showTitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="16" 
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#cc33b0'" 
      [outerStrokeGradientStopColor]="''" 
      [innerStrokeColor]="'#7a8bae'"
      [subtitle]="'JAVA'"
      [subtitleColor]="'#033E3E'"
      [subtitleFontSize]="'14'"
      [animation]="true">
    </circle-progress>
    </p>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <h2>Skills  - </h2> 
    <h3>JavaScript</h3>
    <p>nivel de H.S.actual:
      <circle-progress 
      [percent]="40" 
      [radius]="100" 
      [showTitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="16" 
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#215991'" 
      outerStrokeGradientStopColor="'#1a8cf'" 
      [innerStrokeColor]="'#962eff'"
      [subtitle]="'JAVASCRIPT'"
      [subtitleColor]="'#033E3E'"
      [subtitleFontSize]="'14'"
      [animation]="true">
    </circle-progress>
    </p>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <h2>Skills  - </h2> 
    <h3>Angular</h3>
    <p>nivel de H.S.actual:
      <circle-progress 
      [percent]="35" 
      [radius]="100" 
      [showTitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="16" 
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'" 
      outerStrokeGradientStopColor="''" 
      [innerStrokeColor]="'#05f0a2'"
      [subtitle]="'ANGULAR'"
      [subtitleColor]="'#033E3E'"
      [subtitleFontSize]="'14'"
      [animation]="true">
    </circle-progress>
    </p>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <h2>Skills  - </h2> 
    <h3>MySQL</h3>
    <p>nivel de H.S.actual:
      <circle-progress 
      [percent]="60" 
      [radius]="100" 
      [showTitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="16" 
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#ffa58f'" 
      outerStrokeGradientStopColor="''" 
      [innerStrokeColor]="'#C7E596'"
      [subtitle]="'MYSQL'"
      [subtitleColor]="'#033E3E'"
      [subtitleFontSize]="'14'"
      [animation]="true">
    </circle-progress>
    </p>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <h2>Skills  - </h2> 
      <h3>Excel</h3>
      <p>nivel de H.S.actual:
        <circle-progress 
        [percent]="45" 
        [radius]="100" 
        [showTitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#00c26e'" 
        outerStrokeGradientStopColor="''" 
        [innerStrokeColor]="'#00a851'"
        [subtitle]="'EXCEL'"
        [subtitleColor]="'#033E3E'"
        [subtitleFontSize]="'14'"
        [animation]="true">
      </circle-progress>
      </p>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <h2>Skills  - </h2> 
    <h3>Word</h3>
    <p>nivel de H.S.actual:
      <circle-progress 
      [percent]="50" 
      [radius]="100" 
      [showTitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="16" 
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#c2007b'" 
      outerStrokeGradientStopColor="''" 
      [innerStrokeColor]="'#757665'"
      [subtitle]="'WORD'"
      [subtitleColor]="'#033E3E'"
      [subtitleFontSize]="'14'"
      [animation]="true">
    </circle-progress>
    </p>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <h2> Soft Skills  - </h2> 
    <h3>Ingles</h3>
  <p>  nivel de H.S.actual:
    <circle-progress 
    [percent]="45" 
    [radius]="100" 
    [showTitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="16" 
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#c20000'" 
    outerStrokeGradientStopColor="''" 
    [innerStrokeColor]="'#e66a05'"
    [subtitle]="'INGLES'"
    [subtitleColor]="'#033E3E'"
    [subtitleFontSize]="'14'"
    [animation]="true">
  </circle-progress>
  </p>
    </div>


  <!--soft skills-->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
  <h2> Soft Skills  - </h2> 
  <h3>Comunicación</h3>
  <p>nivel de S.S.actual:
    <circle-progress 
    [percent]="68" 
    [radius]="100" 
    [showTitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="16" 
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#f2f604'" 
    outerStrokeGradientStopColor="''" 
    [innerStrokeColor]="'#e4d395'"
    [subtitle]="'COMUNIC.'"
    [subtitleColor]="'#033E3E'"
    [subtitleFontSize]="'14'"
    [animation]="true">
  </circle-progress>
  </p>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
  <h2>Soft Skills  - </h2> 
  <h3>Adaptabilidad</h3>
  <p>nivel de S.S.actual:
    <circle-progress 
    [percent]="76" 
    [radius]="100" 
    [showTitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="16" 
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#0804f6'" 
    outerStrokeGradientStopColor="''" 
    [innerStrokeColor]="'#8dabb9'"
    [subtitle]="'ADAPT'"
    [subtitleColor]="'#033E3E'"
    [subtitleFontSize]="'14'"
    [animation]="true">
  </circle-progress>
  </p>
    </div>

   <div class="text-center col-sm-4 col-md-4 col-lg-4">
  <h2>Soft Skills  - </h2> 
  <h3>Trabajo en Equipo</h3>
  <p>nivel de S.S.actual :
    <circle-progress 
    [percent]="80" 
    [radius]="100" 
    [showTitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="16" 
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#f81be6'" 
    outerStrokeGradientStopColor="''" 
    [innerStrokeColor]="'#f60479'"
    [subtitle]="'TEAM WORK'"
    [subtitleColor]="'#033E3E'"
    [subtitleFontSize]="'14'"
    [animation]="true">
  </circle-progress>

 
  </p>
   </div>
   
  <div>

    <button type="button" class="btn btn-danger btn-floating">
                <i class="fas fa-tools">{{edicion}}</i>
            </button> 
            <button type="button" class="btn btn-danger btn-floating">
                <i class="fas fa-toilet">{{borrar}}</i>
            </button> 

  </div>

</div>


</div>

<br>

<!-- 
  para agragar imagen [imageSrc]="'../assets/imag/img-hys/...'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="90" -->