/* You can add global styles to this file, and also import other style files */
p{
    margin: 0;
    color: blue;
    font-size: larger;
  }
  .reference{
      width: 100%;
      height: 100%;
      color:rgb(19, 4, 227);
  } 
  
  .cardd{
      width: 18rem;
  }
  
  #datos{
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      color:rgb(122, 11, 33);
  }
  .contraste1{
      background-color:rgb(230, 19, 131);
  }
  
  h1 {
      font-size: 1.5em;
      line-height: 1.2em;
      color:rgb(192, 9, 46);
  
  }
  
  #destacar {color:rgb(18, 148, 148);
  
  }
  
  #int{
      margin-left: 1.5cm;
      color:rgb(35, 67, 67);
  }
  
  
  .bajada{
      font-size: 0.8em;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
      color:rgb(48, 30, 210);
  }

body{
    background-image: url() ;
}

h1 {
    font-size: 1.5em;
    color:rgb(65, 4, 16);
    font-style: italic;
    text-align: initial;
   
}


#info {
    background-color: currentColor;
    padding: 16px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.presentacion{
    margin-top: auto;
    margin-left: 20px;
    margin-right: 20px;
    min-width: auto;
}


.hora{
    text-align: right;
    font-family:Gothic;
    font-style:initial;
    color:rgb(6, 44, 44);
    margin-right: 20px;
}